<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>

</head>

<body>

    <h1>Welcome, Admin</h1>
    <p>This is a paragraph.</p>

    <table width="100%" border="1">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Kategori Seni
                </th>
                <th>
                    Projects
                </th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < datas.length; i++){ %>
            <% if(datas[i].slot){ %>
            <tr>
                <td>
                    <%= datas[i].id %>
                </td>
                <td>
                    <%= datas[i].name %>
                </td>
                <td>
                    <%= datas[i].tag %>
                </td>
                <td>
                    <% for(let j = 0; j < datas[i].Users.length; j++){ %>
                    <%   if(datas[i].Users[j].length !== 0){ %>
                    <ul>
                        <li>
                            Project: <%= datas[i].Users[j].SenimanUser.projectName %>
                        </li>
                        <li>
                            User: <%= datas[i].Users[j].name %>
                        </li>
                        <li>
                            Status:
                            <% if(datas[i].Users[j].SenimanUser.projectStatus === 0){ %>
                            DONE
                            <% }else{ %>
                            ON PROGRESS
                            <% } %>
                        </li>
                        <br>
                    </ul>
                    <%  } else{ %>
                    <li>
                        NO Projects...
                    </li>
                    <% } %>
                    <%   } %>
                </td>
                <td>
                    <a href="/user/admin/<%=datas[i].id%>/edit">Edit</a>
                    <a href="/user/admin/<%=datas[i].id%>/delete">Delete</a>
                </td>
            </tr>
            <%   } %>
            <%  }%>
        </tbody>
    </table>

</body>

</html>