<!DOCTYPE html>
<html>

<head>
    <title>Pick Project</title>
    <style>
        table {
            text-align: center
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <%-include('./partials/header.ejs')%>
    <h1>Pick your art project</h1>
    <p>Pick the type of art that you are looking for and we're going to introduce you to our list of magnificent artists
    </p>
    <table border="1" class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nomor
                </th>
                <th>
                    Kategori Seni
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < tags.length; i++){ %>
            <tr>
                <td>
                    <%= (i+1) %>
                </td>
                <td>
                    <a href="/pick-project/<%= dataUser %>/<%=tags[i]%>">
                        <%= tags[i].toUpperCase() %>
                    </a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <%-include('./partials/sccript.ejs')%>
</body>

</html>